body {
	padding:0px;
	margin:0px;
	/*background: url(img/bg.jpg) no-repeat center center fixed; */
	/*backgroud: url({{ url_for('static', filename='bg.jpg') }});*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Lato', 'sans-serif';
	color:#fff;
}

a {
	color:#fff;
}
a:hover {
	text-decoration:none;
	color:#fff;
}
a:visited {
	color:#fff;
}

#nav {
	position:fixed;
	top:0px;
	left:0px;
	height:80px;
	width:100%;
	min-width: 750px;
	/*background-color:rgba(255,255,255,0.2);*/
	background-color:rgba(100,139,157,0.9);
}
#nav div
{
display: table-cell;
vertical-align: middle;
text-align: center;
-webkit-transition: background-color 200ms; 
transition: background-color 200ms;
}
#nav .home
{
	height:80px;
	width:80px;
	/*background-color:rgba(255,255,255,0.2);*/
	background-color:rgba(0,0,0,0.3);
}

#nav .btn:hover, #nav .home:hover {
	background-color: rgba(255,255,255,0.2);
}

#nav .btn {
	height:80px;
}
#nav .btn span {
	padding:0 40px 0 40px;
	display: inline-block;
	line-height:80px;
}

#content {
width:100%;
margin-top: 120px;

}

#content .dialog {
margin:30px auto;
width: 700px;
background:rgba(0,0,0,0.3);
padding:30px;
box-shadow:0px 0px 120px rgba(0,0,0,0.3);
}

#content .msg {
margin:30px auto;
width: 700px;
background:rgba(0,0,0,0.3);
padding:15px 30px 15px 30px;
box-shadow:0px 0px 120px rgba(0,0,0,0.3);
text-align:center;
}
#content .errmsg {
margin:30px auto;
width: 630px;
background:rgba(0,0,0,0.3);
padding:15px 30px 15px 30px;
box-shadow:0px 0px 120px rgba(0,0,0,0.3);
text-align:center;
}
#content .vmmsg {
margin:30px auto;
width: 630px;
background:rgba(0,0,0,0.3);
padding:15px 30px 15px 30px;
box-shadow:0px 0px 120px rgba(0,0,0,0.3);
text-align:left;
}
#content .dialog2 {
margin:30px auto;
width: 700px;
background:rgba(0,0,0,0.3);

box-shadow:0px 0px 120px rgba(0,0,0,0.3);
}

.dialog2 .headerrr {
background: rgba(0,0,0,0.4);
width:100%;
height:30px;
}

.dialog2 .headerrr div {
padding:5px;
margin-left:15px;
}

.dialog2 .dialogbody {
	padding:20px;
}
#footer{
    position:fixed;
    background:rgba(0,0,0,0.3);
    bottom:0px;
    /*left:0px;*/
    height: 20px;
    width: 55px;
    border-radius: 30px 0 0 0;
    right:0px;
    margin-bottom:0px;
    display: table-cell;
	vertical-align: middle;
	text-align: right;
		font-size:14px;
	color:rgba(255,255,255,0.5);

}
#footer span {
	margin:5px;

}

#footer a {
	text-decoration:none;
}

input[type=submit], .button {
background:rgba(0,0,0,0.5);
border-radius: 2px 2px 2px 2px;
border:0px;
height:30px;
color:#fff;
font-size:14px;	
}


.button:hover {
background:rgba(0,0,0,0.3);
}

.logo {
width:40px;
height:39px;
}

.righty {
	position:absolute;
	right:0;
	width:125px;
	top:0;
}
.usern
{
position:absolute;
top:0px;
right:125px;
line-height:80px;
height:80px;
}