{% extends "layout.html" %}
{% block body %}

	<b>Page not found!</b><br><br>
	Has Anyone Really Been Far Even as Decided to Use Even Go Want to do Look More Like?
	<br><br><br><br>
	{% if current_user.is_authenticated() %}
	{% else %}
	<a href="{{ url_for('login') }}"><input type='button' class='button' value='Log In'></a>
	{% endif %}

{% endblock %}