{% extends "layout.html" %}
{% block body %}

	<b>Add New User</b><br><br>
	
	{% if form is defined %}
	<form action="{{ url_for('adduser') }}" method=post>
		{{ form.hidden_tag() }}
		<table>
		<tr>
		<td>{{ form.admin.label }}</td>
		<td width=10></td>
		<td>{{ form.admin }}</td>
		</tr>
		<tr>
		<td>{{ form.email.label }}</td>
		<td width=10></td>
		<td>{{ form.email }}</td>
		</tr>
		<tr>
		<td>{{ form.first.label }}</td>
		<td width=10></td>
		<td>{{ form.first }}</td>
		</tr>
		<tr>
		<td>{{ form.last.label }}</td>
		<td width=10></td>
		<td>{{ form.last }}</td>
		</tr>
		<tr>
		<td>{{ form.allocation.label }}</td>
		<td width=10></td>
		<td>{{ form.allocation}}</td>
		</tr>
		<tr>
		<td>{{ form.password.label }}</td>
		<td width=10></td>
		<td>{{ form.password }}</td>
		</tr>
		<tr>
		<td>{{ form.confirm.label }}</td>
		<td width=10></td>
		<td>{{ form.confirm }}</td>
		</tr>
		<tr>
		<td colspan=4><center>{{ form.submit }}</center></td>
		</tr>
		
		</table>

	</form>
	{% endif %}

	<br><br><br><br>
	<a href="{{ url_for("adduser") }}"><input type='button' class='button' value='Add User'></a>
	<a href="{{ url_for("listusers") }}"><input type='button' class='button' value='List Users'></a>

{% endblock %}