{% extends "layout.html" %}
{% block body %}

	<b>check session for user.admin (boolean) disabled -- DEBUG MODE</b><br>
	<p>This is the administration panel. You may add/edit users, or view the VM status</p>
	{% if admins is defined %}
		Admins:
		<table>
		
		<tr><td class="col1" width="50">ID</td><td class="col2" width="200">Username</td><td class="col3" width="200">First Name</td><td class="col3" width="200">EDIT</td><td class="col3" width="200">Terminate</td></tr>
		
		{% for user in admins %}
			<tr><td>{{ user.id }}</td><td>{{ user.email }}</td><td>{{ user.first }}</td><td><a href="{{ url_for('moduser', userid=user.id) }}"><input type='button' class='button' value='Edit'></a></td><td>  <form action="{{ url_for('terminateuser', userid=user.id) }}" method=post onclick="return confirm('Really delete user? This is permanant!')"><input type="submit" value="Terminate"></form></td></tr>
			<br>
		{% endfor %}
	</table>
	{% endif %}
	<br><br>
	{% if allusers is defined %}
	Users:
	<table>
		
		<tr><td class="col1" width="50">ID</td><td class="col2" width="200">Username</td><td class="col3" width="200">First Name</td><td class="col3" width="200">EDIT</td><td class="col3" width="200">Terminate</td></tr>
		
		{% for user in allusers %}
			<tr><td>{{ user.id }}</td><td>{{ user.email }}</td><td>{{ user.first }}</td><td><a href="{{ url_for('moduser', userid=user.id) }}"><input type='button' class='button' value='Edit'></a></td><td><form action="{{ url_for('terminateuser', userid=user.id) }}" method=post onclick="return confirm('Really delete user? This is permanant!')"><input type="submit" value="Terminate"></form></td></tr>
			<br>
		{% endfor %}
	</table>
	{% else %}
	{% endif %}

	<br><br><br><br>
	<a href="{{ url_for("adduser") }}"><input type='button' class='button' value='Add User'></a>
	<a href="{{ url_for("listusers") }}"><input type='button' class='button' value='List Users'></a>

{% endblock %}