{% extends "layout.html" %}
{% block body %}

	<b>Deploy</b><br>
	
	{% if form is defined %}
	<form action="{{ url_for('createvm', userid=userid) }}" method=post>
		{{ form.hidden_tag() }}
		{% for errorMessages, fieldName in form.errors.iteritems() %}
			{{ fieldName}} {{ errorMessages }}
		{% endfor %}
		<table>
		<tr>
		<td>{{ form.owner.label }}</td>
		<td width=10></td>
		<td>{{ form.owner }}</td>
		</tr>
		<tr>
		<td>{{ form.veid.label }}</td>
		<td width=10></td>
		<td>{{ form.veid(readonly=true, value=userveid) }}</td>
		</tr>
		<tr>
		<td>{{ form.ipaddr.label }}</td>
		<td width=10></td>
		<td>{{ form.ipaddr(readonly=true, value=userip) }}</td>
		</tr>		
		<tr>
		<td>{{ form.focusver.label }}</td>
		<td width=10></td>
		<td>{{ form.focusver() }}</td>
		</tr>
		<tr>
		<td>{{ form.description.label }}</td>
		<td width=10></td>
		<td>{{ form.description() }}</td>
		</tr>
		<tr>
		<td colspan=4><center>{{ form.submit }}</center></td>
		</tr>
		
		</table>

	</form>
	{% endif %}

	<br><br><br><br>
	<!--<a href="{{ url_for("adduser") }}"><input type='button' class='button' value='Add User'></a>
	<a href="{{ url_for("listusers") }}"><input type='button' class='button' value='List Users'></a>-->

{% endblock %}