{% extends "layout.html" %}
{% block body %}

	<b>Focus Development Virtualization</b><br><br>
	This system is for the management of your allotment of Focus VM's for development and testing in a clean, destructable environment. 
	<br><br><br><br>
	{% if current_user.is_authenticated() %}
	{% else %}
	<a href="{{ url_for('login') }}"><input type='button' class='button' value='Log In'></a>
	{% endif %}

{% endblock %}