<!DOCTYPE html>
<html>
<head>
<title>FocusOps</title>
<meta charset="UTF-8">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<link ref="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<style>
	body {
		/*background: url(img/bg.jpg) no-repeat center center fixed; */
		background: url('{{ url_for('static', filename='bg.jpg') }}') no-repeat center center fixed;
	}
</style>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<script>
$(function() {
  $('#content .msg').delay(3000).fadeOut( 1000, function() {
  });
});
</script>
<body>


<div id='nav'>
	<div class='home'><span><a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='gears.png') }}" class='logo'></a></span></div>
	{% if current_user.is_authenticated() %}
	<!--<div class='btn'><span>Hello, {{ current_user.email }}</span></div>-->
	<div class='btn'><a href="{{ url_for('vms') }}"><span>VMs</span></a></div>
    {% if current_user.admin %}
    <div class='btn'><a href="{{ url_for('allvms') }}"><span>Admin VMs</span></a></div>
    {% endif %}
    <div class="usern btn"><a href="{{ url_for('profile') }}"><span>{{ current_user.email }}</span></a></div>
	<div class='btn righty'><a href="{{ url_for('logout') }}"><span>logout</span></a></div>
	{% else %}
	<div class='btn righty'><a href="{{ url_for('login') }}"><span>login</span></a></div>
	{% endif %}
	
</div>

<div id='content'>
{% for message in get_flashed_messages() %}
	<div class='msg'>
	{{ message }}
	</div>
{% endfor %}
<div class='dialog'>

{% block body %}{% endblock %}

</div>
</div>
<div id='footer'>
<a href="{{ url_for('admin') }}"><span>ᕕ(ᐛ)ᕗ</span></a>
</div>


</body>
</html>