{% extends "layout.html" %}
{% block body %}

	<b>Login</b><br>
	<form action="{{ url_for('login') }}" method=post>
		{{ form.hidden_tag() }}
		{% for message in form.email.errors %}
			<div class='errmsg'>
			{{ message }}
			</div>
		{% endfor %}
		{{ form.email.label }}
		{{ form.email }}
		<br><br>
		{% for message in form.password.errors %}
			<div class='errmsg'>
			{{ message }}
			</div>
		{% endfor %}
		{{ form.password.label }}
		{{ form.password }}
		<br><br>
		{{ form.submit }}
	<form>
	<br><br><br><br>
	

{% endblock %}