{% extends "layout.html" %}
{% block body %}

	<b>Modifying: {{ modusername }}</b><br>
	
	{% if form is defined %}
	<form action="{{ url_for('moduser', userid=userid) }}" method=post>
		{{ form.hidden_tag() }}
		{% for errorMessages, fieldName in form.errors.iteritems() %}
			{{ fieldName}} {{ errorMessages }}
		{% endfor %}
		<table>
		<tr>
		<td>{{ form.admin.label }}</td>
		<td width=10>{% set f = form.admin.process_data(modusername.admin) %}</td>
		<td>{{ form.admin() }}</td>
		</tr>
		<tr>
		<td>{{ form.email.label }}</td>
		<td width=10></td>
		<td>{{ form.email(value=modusername.email | safe) }}</td>
		</tr>
		<tr>
		<td>{{ form.first.label }}</td>
		<td width=10></td>
		<td>{{ form.first(value=modusername.first | safe) }}</td>
		</tr>
		<tr>
		<td>{{ form.last.label }}</td>
		<td width=10></td>
		<td>{{ form.last(value=modusername.last | safe) }}</td>
		</tr>
		<tr>
		<td>{{ form.allocation.label }}</td>
		<td width=10></td>
		<td>{{ form.allocation(value=modusername.allocation | safe) }}</td>
		</tr>
		<tr>
		<td>{{ form.deployed.label }}</td>
		<td width=10></td>
		<td>{{ form.deployed(value=modusername.deployed | safe) }}</td>
		</tr>
		<tr>
		<td>{{ form.password.label }}</td>
		<td width=10></td>
		<td>{{ form.password(value=modusername.password | safe) }}</td>
		</tr>
		<tr>
		<td colspan=4><center>{{ form.submit }}</center></td>
		</tr>
		
		</table>

	</form>
	{% endif %}

	<br><br><br><br>
	<a href="{{ url_for("adduser") }}"><input type='button' class='button' value='Add User'></a>
	<a href="{{ url_for("listusers") }}"><input type='button' class='button' value='List Users'></a>

{% endblock %}