{% extends "layout.html" %}
{% block body %}
	<b>Profile</b>
	<br><br>
	<table>
	<tr>
	<td>User:</td>
	<td>{{ userid.email }}</td>
	</tr>
	<tr>
	<td>First: {{ userid.first }}</td>
	<td width=10></td>
	<td>Last: {{ userid.last }}</td>
	</tr>
	<tr>
	<td>Allocation:</td>
	<td>{{ userid.allocation }}</td>
	<td><input type='button' class='button' value='Request More'></td>
	</tr>
	<tr>
	<td>Deployed:</td>
	<td>{{ userid.deployed }}</td>
	</tr>
	<tr>
	<td>password:</td>
	<td width=10></td>
	<td><a href="{{ url_for('resetpwd') }}"><input type='button' class='button' value='Change'></a></td>
	</tr>
	</table>
	<br><br><br><br>

{% endblock %}