{% extends "layout.html" %}
{% block body %}

	<b>PASSWORD RESET</b><br>
	(We cannot recover your password, they are hashed. Don't forget it!)<br><br>
	<form action="{{ url_for('resetpwd') }}" method=post>
		{{ form.hidden_tag() }}
		{% for message in form.oldpassword.errors %}
			<div class='errmsg'>
			{{ message }}
			</div>
		{% endfor %}
		{{ form.oldpassword.label }}
		{{ form.oldpassword }}
		<br><br>
		{% for message in form.newpassword.errors %}
			<div class='errmsg'>
			{{ message }}
			</div>
		{% endfor %}
		{{ form.newpassword.label }}
		{{ form.newpassword }}
		<br><br>
		{% for message in form.confirm.errors %}
			<div class='errmsg'>
			{{ message }}
			</div>
		{% endfor %}
		{{ form.confirm.label }}
		{{ form.confirm }}
		<br><br>
		{{ form.submit }}
	<form>
	<br><br><br><br>
	

{% endblock %}