{% extends "layout.html" %}
{% block body %}

	<b>User: {{ user.email }}</b><br><br>
    <a href="{{ url_for("createvm") }}"><input type='button' class='button' value='Deploy'></a>

    <br><br><br>
    
	{% for vm in vms %}
        <div class='dialog2'>
        {% if vm.state %}
            <!--<div class="headerr">-->
            <div class="headerr">
            <input type='button' class='button' value='Shut Down'>
            <a href="{{ url_for('termvm', userid=vm.owner, veid=vm.veid) }}" onclick="return confirm('Really delete VM? This is permanant!')"><input type='button' class='button' value='Destroy'></a>
            </div>
        {% else %}
            <div class="headerr">
            <input type='button' class='button' value='Boot'>
            <a href="{{ url_for('termvm', userid=vm.owner, veid=vm.veid) }}" onclick="return confirm('Really delete VM? This is permanant!')"><input type='button' class='button' value='Destroy'></a>
            </div>

        {% endif %}
        
        
        <!--<div class="dialogbody">-->
        <div class="headerr">
        <table>
        {% if current_user.admin %}
        {% if userobj is defined %}
        <tr>
        <td align=right>Owner: [{{ vm.owner }}]:</td>
        <td width=10></td>
        <td>{{ userobj.query.filter_by(id=vm.owner).first().email }}</td>
        </tr>
        {% endif %}
        {% endif %}
        <tr>
        <td align=right>ID [{{ vm.id }}]:</td>
        <td width=10></td>
        <td>{{ vm.veid }} - {{ vm.hostname }}</td>
        </tr>
        <tr>
        <td align=right>IP:</td>
        <td width=10></td>
        <td>{{ vm. ip }}</td>
        </tr>
        <tr>
        <td align=right>Focus Version:</td>
        <td width=10></td>
        <td>{{ vm.focusver }}</td>
        </tr>
        <tr>
        <td align=right>State:</td>
        <td width=10></td>
        {% if vm.state %}
        <td><span style='color:#0f0'>Online</span></td>
        {% else %}
        <td><span style='color:#f00'>Offline</span></td>
        {% endif %}
        </tr>
        <tr>
        <td align=right>Description:</td>
        <td width=10></td>
        <td>{{ vm.description }}</td>
        </tr>
        <tr>
        <td align=right>SFTP Information:</td>
        <td width=10></td>
        <td>sftp -P45678 focus@{{ vm.ip }}</td>
        </tr>
        </table>
        </div>
        </div>
    {% endfor %}
    </div>
	<br><br><br><br>

{% endblock %}